/* ****** TIPOGRAFIAS ****** */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,700;1,400;1,600&display=swap');

/* ** var de colores ** */
:root{
    --header-color:rgba(0, 0, 0, 0.5);
    --borde-color: rgb(159, 159, 159);
    --text-color:rgb(255, 255, 255);
    --fondos-color:rgba(255, 255, 255, 0.1);

}


/* ******* ESTILOS BODY ******* */


body{
    font-family: 'Lora', serif;
    backgrounD: url(../assets/img/fondo\ cel.jpg) no-repeat center ;
    background-attachment: fixed;
    background-size: cover;
    color: var(--text-color) !important;
} 



/* ************* MIS ESTILOS CSS *************** */



/* ** ESTILOS HEADER ** */

.nav__div{
    background-color: var(--header-color);
    border-bottom: var(--borde-color) 1px solid;
    border-radius: 5px;
}
.navbar-brand img{
        height: 3rem;
}
.navbar-brand{
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.nav-item{
    padding: .5rem;
    transition: all;
}
.nav-item:hover {
    background-color: var(--fondos-color);
}


/* **** ESTILOS DE MAIN PAGINA INDEX.HTML **** */


.main__div--1{
    height:60vh;
    width: 100%;
    position: relative;
    top: 40vh;
    margin-bottom:1rem ;
}
.main__div--img{
    width: 7rem;
    height: 7rem;
    border-radius: 100px 100px ;
}
.div__h1{
    margin-left: .5rem;
    height: 5rem;
    font-size: 3rem;
    padding: 1rem ;
    border-bottom: 3px solid rgb(255, 251, 251);
}
.container-fluid video{
    display: none;
}
.article__p , .section__h2{
    font-size: .8em !important;
    text-align: center !important;
    align-items: center !important;
}
.section__h2{
    font-size: 1.5rem !important;
}
.article__img{
    width: 80vh;
}


/* **CARD DE AUDIO** */


.container__cards{
    width: 90vw;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    
}
.card__audio{
    height: 40vh;
    width:80vw;
    padding: 1rem;
    box-shadow: 20px 20px 50px rgb(0, 0, 0.5);
    background-color:rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgb(255, 255, 255, 0.5);
    border-top: 1px solid rgb(255, 255, 255, 0.5);
    border-radius: 15px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display:inline;
}
.card__audio img{
    width: 50vw;
    height: 65%;
    
}
.section__audio--text{
    font-size: .8rem;
}
.card__audio audio{
    width:60vw !important;
    justify-items: center !important;
    margin: auto;
}


/* ***** ESTILOS DEL FOOTER ***** */


.footer{
    background-color: var(--header-color);
    border-top: 1px solid var(--borde-color) ;
}
.footer a{
    margin: 1rem 0;
}



/* Small devices (landscape phones, 576px and up) */
@media (max-width: 420px) { 
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    body{
        font-family: 'Lora', serif;
        backgrounD: url(../assets/img/fondo\ auror.jpg) no-repeat center ;
        background-color: #000;
        background-attachment: fixed;
        background-size: cover;
        color: var(--text-color) !important;
        
    } 
    /* *** HEADER *** */
    .header{
        position: fixed !important;
        top: 0;
    }
    /* *** MAIN ***/
    .main__div--1{
        position:absolute;
        height: 50vh;
        left: 7rem;
        margin: 0 !important;
    }
    .main__div--img{
        width: 15rem;
        height: 15rem;
    }
    .div__h1{
        margin-left: 2rem;
        height: 10rem;
        font-size: 7rem;
        padding: 2rem 20rem 1rem 4rem;
        border-bottom: 3px solid rgb(255, 251, 251);
        bottom: 0;
    }
    .container-fluid video{
        display: block;
        width: 100%;
    }
    .navbar-brand img{
        height: 5rem;
        width: auto;
    }
    .article__p{
        font-size: 1.5rem !important;
    }
    .article__img{
        height: auto;
        width:35vw;
    }
    .section__h2{
        font-size: 2rem !important;
    }
    /* *** CARRUSEL *** */
    .carousel-fade{
        height: 90vh !important;
        width: 50%;
        margin: auto !important;
        overflow: hidden;
    }
    /* *** CARD DE AUDIO *** */
    .container__cards{
        width: 20vw;
    }
    .card__audio{
        height: 65vh;
        width:30vw;
        padding: 1rem;
        box-shadow: 20px 20px 50px rgb(0, 0, 0.5);
        background-color:rgba(255, 255, 255, 0.1);
        border-left: 1px solid rgb(255, 255, 255, 0.5);
        border-top: 1px solid rgb(255, 255, 255, 0.5);
        border-radius: 15px;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
    }
    .cover__card{
        width: 15vw;
        height: auto;
    }
    .card__audio img{
        width: 100%;
    }
    .section__audio--text{
        font-size: 1rem;
    }
    .card__audio audio{
        width:25vw !important;
        justify-items: center !important;
        margin: auto;
    }
    /* ** IFRAME ** */
    .section__iframe{
        width: 80vw;
        height: 100vh;
        margin: 5rem 0;
    }

    /* *** PAGINA ALBUNES *** */
    

}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

} 
    

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

}

