body{
    font-family: 'Lora', serif;
    background: url(../assets/img/fondo-duki-cel1.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    color: $text-color !important;
} 

  ///eliminan el fondo para destok

@media screen and (min-width:992px){
    body{
        background: #000 !important;
    }
}