@import "variables";

.footer{
    border-top: 1px solid $text-color ;
    margin-top: 5rem;
    a{
        margin: 1rem 0 !important;
        .bi{
            color: $text-color !important;
            } 
        &:hover{
            transform: scale(1.5);}
    }
}

// es totalmente responsible y no nesecita un media query

