@import "variables";
@import "mapas";
@import "mixins";
.div__h1--titulo{
    font-size:map-get($titulo, letra );
    margin: map-get($titulo, margen );
    padding: map-get($titulo, 1rem );
}
.div__p--biografia{
    @include tamaño-letra(.7rem,center);
}
.img__biografia{
    width: 100%;
}
.table{
    color: $text-color;
    font-size:1rem;
    width: 60%;
    margin:  auto;
    td , th{
    border: solid 2px #fff;
    padding: 0.5rem;
    }
    th{
    font-size: .8rem;
    }
    td{
    font-size: .5rem;
    overflow: hidden;
    }

}

@media screen and (min-width:992px){
    .div__h1--titulo{
        padding: map-get($titulo, 2rem );
    }
    .div__p--biografia{
        @include tamaño-letra(1rem,center);
    }
    .table{
        width: 60%;
        margin:  auto;
        font-size:2rem;
        td{
            font-size: 1rem;
            overflow: hidden;
        }
    }

}